<div>
    <form style="position: relative;width: auto;padding-top: 100px;" [formGroup]="loginForm"
        (ngSubmit)="login(loginForm.value)" class="col-md-4 col-md-offset-4 text-center">
        <h1 class="loginTitle">Hello!</h1>
        <div class="loginInput">
            <input type="text" placeholder=" Email" formControlName="email" class="form-group col-lg-15" style="border-radius: 1px;
            border: 0px;">
        </div>
        <div class="loginInput">
            <input type="password" placeholder=" Password" formControlName="password" class="form-group col-lg-15"
                style="border-radius: 1px;
            border: 0px;">
        </div>
        <div class="loginButton">
            <input style="border-radius: 5px;
            border: 0px;color: rgb(110, 92, 92);margin: 5px;
            " type="submit" class="form-group col-lg-15" value="login">
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <input style="border-radius: 5px;
border: 0px;color: black;margin: 5px;" type="button" class="form-group col-lg-15 specialLink"
                value="Sign up" (click)="signUp()">
        </div>
    </form>

</div>